<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="ReactJS Proxy" stopProcessing="true">
          <match url="^github/auth/(.*)" />
          <action type="Rewrite" url="https://biorhythmsapp.azurewebsites.net/github/auth/{R:1}" />
        </rule>
        <rule name="ReactJS" enabled="true" stopProcessing="true">
          <match url="/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
